<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sing in</title>
  <link rel="stylesheet" href="singin.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-dark navbar-expand-md fixed-top MiNavbar">
    <div class="container-fluid ">
      <a class="navbar-brand" href="../Home/index.html">Edulink Global
</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Edulink Global
</h5>
          <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
            <li class="nav-item">
              <a class="nav-link active"  href="../Sing in/singin.html">Sing in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  href="../LogIn/login.html">Log in</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="../Home/index.html">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="../Courses/courses.html">Courses</a>
            </li>
            <li class="nav-item">
              <a class="nav-link " href="../Clases/clases.html">Clases</a>
            </li>
            <li class="nav-item">
              <a class="nav-link  " href="../About Us/aboutUs.html">About Us</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </nav>
  <div class="top-div">

    <div class="container text-center input-div">
      <div class="row justify-content-center log-in-inputs">
        <div class="col-6">
          <h3>Sing in</h3>
        </div>
        <div class="col-12 col-md-8">
          <input type="email" placeholder="Email" />
        </div>
        <div class="col-12 col-md-8">
          <input type="" placeholder="User" />
        </div>
        <div class="col-12 col-md-8">
          <input type="password" placeholder="Password"/>
        </div>
        <div class="col-12 col-md-8">
          <input type="password" placeholder="Confirm password"/>
        </div>
        
        <div class="col-12 col-md-8">
          <button>Sing in</button>
        </div>
      </div>  
    </div>
  </div>
  <footer id="footer">
    <div class="inner">
      <h2>Etiam veroeros lorem</h2>
      <p>Pellentesque eleifend malesuada efficitur. Curabitur volutpat dui mi, ac imperdiet dolor tincidunt nec. Ut erat lectus, dictum sit amet lectus a, aliquet rutrum mauris. Etiam nec lectus hendrerit, consectetur risus viverra, iaculis orci. Phasellus eu nibh ut mi luctus auctor. Donec sit amet dolor in diam feugiat venenatis. </p>
  
      <ul>
        <p>icon1</p>
        <p>icon2</p>
        <p>icon3</p>
      </ul>
    </div>
  </footer> 
</body>
</html>