body{
  margin: 0;
  height: 1000px;
}
.MiNavbar{
  padding: 10px;
  background-color: #3C486B
}
.MiNavbar a {
  color: white;
}

#notas{
  position: relative; 
  margin-left: 80px;
}

#button{
  position: relative; 
  margin-left: 80px;
}

#notas{
  position: relative; 
  margin-left: 80px;
}


#footer {
  padding: 4em 0 2em 0;
  background-color: #3C486B;
  text-align: center;
  color:#F0F0F0;
  margin-top: 30px;
}

  #footer .inner {
    width: 50%;
    margin: 0 auto;
  }

    @media screen and (max-width: 980px) {

      #footer .inner {
        width: 75%;
      }

    }

    @media screen and (max-width: 480px) {

      #footer .inner {
        width: 90%;
      }

    }

  @media screen and (max-width: 736px) {

    #footer {
      padding: 3em 0 1em 0;
    }

  }