.MiNavbar{
  background-color: #3C486B;
}

.log-in-Top-div{
  width: 100%;
  height: 100%;
  background-color: #F0F0F0;
}

.input-div{
  padding: 25px;
}

.log-in-inputs{
  gap: 10px;
}
.log-in-inputs input{
  width: 60%;
}
.sing-in-remember-me{
  font-size: large;
}

#footer {
  padding: 4em 0 2em 0;
  background-color: #3C486B;
  text-align: center;
  color:#F0F0F0;
}

  #footer .inner {
    width: 50%;
    margin: 0 auto;
  }

    @media screen and (max-width: 980px) {

      #footer .inner {
        width: 75%;
      }

    }

    @media screen and (max-width: 480px) {

      #footer .inner {
        width: 90%;
      }

    }

  @media screen and (max-width: 736px) {

    #footer {
      padding: 3em 0 1em 0;
    }

  }
