

.MiNavbar{
  padding: 10px;
  background-color: #ff9000
}
.MiNavbar a {
  color: black;
}

  #footer .inner {
    width: 50%;
    margin: 0 auto;
  }

    @media screen and (max-width: 980px) {

      #footer .inner {
        width: 75%;
      }

    }

    @media screen and (max-width: 480px) {

      #footer .inner {
        width: 90%;
      }

    }

  @media screen and (max-width: 736px) {

    #footer {
      padding: 3em 0 1em 0;
    }

  }