body{
  margin: 0;
  height: 1000px;

}


.cuerpo{
  background-color: #F0F0F0;

}
.MiNavbar{
  padding: 10px;
  background-color: #3C486B
}
.MiNavbar a {
  color: white;
}

.imgEducation {
  width :100%;
}

.imgStudy {
  width :100%;
}

.giphy-embed{
  width: 480; 
  height: 244; 
  position: relative;
  align-items: center;
  margin-top: 20px;
}

#footer {
  padding: 4em 0 2em 0;
  background-color: #3C486B;
  text-align: center;
  color:#F0F0F0;
}

  #footer .inner {
    width: 50%;
    margin: 0 auto;
  }

    @media screen and (max-width: 980px) {

      #footer .inner {
        width: 75%;
      }

    }

    @media screen and (max-width: 480px) {

      #footer .inner {
        width: 90%;
      }

    }

  @media screen and (max-width: 736px) {

    #footer {
      padding: 3em 0 1em 0;
    }

  }