<%- include('../partials/header');%>

<div class="cuerpo">
  <img
      class="imgAboutUs"
      alt="LOGO"
      src="/images/about_us.png"
      loading="lazy"
    />

    <h1 style="margin-top:0px; text-align: center; color:#F45050;">About Us!</h1>


  <div class="row">
    <div class="col" style="margin-top:250px; text-align:center">
      
    </div>
    <div class="col-10 col-md-5" style="margin-top:25px; text-align:center">
      EduLink Global is on a mission to revolutionize education with innovation at its core. Our team of dedicated educators and technologists is committed to making quality learning accessible to all, breaking down geographical and socioeconomic barriers. We believe in the transformative power of education and are driven to create a brighter future through knowledge. Join us in this exciting journey and be a part of the change.</div>
    <div class="col" style="margin-top:250px; text-align:center">
      
    </div>
  </div>
  <div class="contact text-center">
    <button type="button" class="btn btn-outline-success centered">Contact Us</button>
  </div>

</div>

<%- include('../partials/footer');%>