<%- include('../partials/header');%>

<div class="top-div">
  <img
      class="imgEducation"
      alt="LOGO"
      src="/images/Education.png"
      loading="lazy"
    /> 
    
  <div class="container text-center">
    <div class="row">
      <div class="col-12 col-lg-6" ><h1 style="color:#F45050; margin-top: 120px;">Who are we?</h1><br/>EduLink Global is not just an organization; it's a movement dedicated to reshaping the future of education. We understand that access to quality education is a fundamental right that should be available to all, regardless of where they are in the world. Our mission is clear: to bridge educational divides by providing innovative, high-quality learning resources for free, all delivered remotely.

        At EduLink Global, we believe in the power of education to transform lives, uplift communities, and drive progress on a global scale. Our commitment to innovation in education is the driving force behind everything we do.</div>
      <div class="col-12 col-lg-6"><img src="/images/explaining.png" style="margin-bottom:50px; margin-top: 40px;"/></div>
    </div>
  </div>

  <img
  class="imgStudy"
  alt="studying"
  src="/images/studying.jpg"
  loading="lazy"
  />

  <div class="container text-center">
    <div class="row">
      <div class="col-12 col-lg-6"><img src="/images/building.png"/></div>
      <div class="col-12 col-lg-6" style="margin-top: 70px;"><h1 style="color:#F45050">Why choose us?</h1>
        <br/>
          <ol>
          <li><strong>Unwavering Commitment:</strong> Our passion for education is at the core of our existence. We're not just an educational platform; we're a community of educators, technologists, and visionaries who are dedicated to breaking down barriers and creating opportunities.</li>

          <li><strong>Quality at its Core:</strong> We take pride in the quality of our educational content. From foundational knowledge to advanced skills, our materials are carefully curated and designed to meet the needs of learners of all backgrounds and abilities.</li>

          <li><strong>Innovation:</strong> "Innovation in Education" isn't just a slogan; it's our guiding principle. We leverage cutting-edge technologies to deliver education where it's needed most. Our methods keep learners engaged and motivated.</li>

          <li><strong>Impact:</strong> Our success stories are a testament to the transformative power of education. We've witnessed individuals elevate their lives, communities thrive, and entire regions change for the better through our initiatives.</li>
        </ol>
        </div>
        
        </div>
  </div>

  <h1 style='text-align: center; color:#F45050; margin-top: 40px;'>Where are we?</h1>
  <div class="container-fluid text-center">
    <div class="row ONL-div">
      <div class="col-1 col-sm-4">
      </div>
      <div class="col-10 col-sm-4">
        <iframe src="https://giphy.com/embed/HV0tHmPREaD0sIixmg" class="giphy-embed" allowFullScreen></iframe>
      </div>
      <div class="col-1 col-sm-4">
      </div>
    </div>
  </div>

 

  <div class="container text-center">
    <div class="row">
      <div class="col-12 col-lg-6" style="margin-top: 100px;"><h1 style="color:#F45050">How to get involved?</h1><br/>At EduLink Global, we invite you to become a part of our mission. Whether you're a learner, an advocate, or someone who wants to make a positive impact, you can play a vital role in our journey of innovation in education. Together, we can make education accessible to all, empower individuals, and transform lives. Join us and be a catalyst for change in the world of education.</div>
      <div class="col-12 col-lg-6"><img src="/images/teaching.png"/></div>
    </div>
  </div>
</div>
<%- include('../partials/footer');%>