<%- include('../partials/header');%>

<div class="top-div">

  <div class="container-fluid text-center log-in-input-div">
    <div class="row justify-content-center log-in-inputs">
      <div class="col-6">
        <h3>Log in</h3>
      </div>
      <div class="col-12 col-md-8 col-lg-6">
        <input type="" placeholder="User" />
      </div>
      <div class="col-12 col-md-8 col-lg-6">
        <input type="password" placeholder="Password"/>
      </div>
      <div class="row justify-content-center log-in-remember-me-div">
        <div class="col-12 col-md-3">
          <input class="form-check-input" type="checkbox" />
          <label class="form-check-label" > Remember me </label>
        </div>
        <div class="col-12 col-md-3"><a href="#">Forgot password?</a></div>
      </div>
      <div class="col-12 col-md-8">
        <button>Log in</button>
      </div>
    </div>  
        
  </div>
</div>

<%- include('../partials/footer');%>