<%- include('../partials/header');%>
<div class="top-div">
  <div>
      <h1 class="single-course-title">MATHEMATICS-COURSE</h1>
    </div>
    <div class="container">
      <div class="weekly">
          <h3>lect n</h3>
          <hr>
          <p class="single-course-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quae, modi obcaecati, libero, recusandae quaerat distinctio eveniet vel pariatur expedita molestiae ex unde! Vitae obcaecati minus aut in voluptate, officia itaque?</p>
          <br>
          <p class="single-course-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos nesciunt blanditiis mollitia corrupti magnam quas aliquam ea, sit, dolorem illum, quidem voluptate deleniti omnis molestias culpa. Ratione dignissimos obcaecati velit.    </p>
          <br>
          <p class="single-course-p">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quae iusto amet distinctio non rerum nihil aliquam. Odit repellendus incidunt earum. Quas assumenda asperiores velit culpa quo quae nemo pariatur.</p>
        </div>
     
        <div class="infoDump">
          <div class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet a dolore numquam praesentium tenetur nisi laborum cumque, modi eaque ex dolorum laboriosam! Perspiciatis mollitia repellat distinctio, quo sapiente deserunt culpa!</div>
          <br><p>disclaimer: this is a prototype version of what it'll come next so be considerate</p>
          <div class="info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis quia nihil porro necessitatibus? Praesentium laborum, similique omnis corrupti in dignissimos pariatur et quos dolores tenetur ipsam, ratione, soluta harum! Iste.</div>
        </div>
    </div>


    <div class="video-container">
     
      <iframe width="600" height="360" class="single-course-iframe"
      src="https://www.youtube.com/embed/tgbNymZ7vqY">
      </iframe>
      <div class="quizz-container">
        <h3>Make a quiz </h3>
        <%if(id){%>
          <button class="single-course-button" disabled><a href="/courses/quiz/<%=id%>">quizz</a></button>
          <%}else{%>
            <button class="single-course-button" disabled>quizz</button>
        <%}%>
      </div>


     
    </div>
   
</div>
<%- include('../partials/footer');%>