



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Courses</title>
  <link rel="stylesheet" href="../css/content.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>  




    <nav class="navbar navbar-dark navbar-expand-md fixed-top MiNavbar">
        <div class="container-fluid ">
          <a class="navbar-brand" href="../Home/index.html">Nuestro nombre</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Nuestro nombre</h5>
              <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                  <a class="nav-link"  href="/views/Sing in/singin.html">Sing in</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active"  href="/views/LogIn/login.html">Log in</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/views/Home/index.html">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="../courses.html">Courses</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link " href="/views/Clases/clases.html">Clases</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link  " href="/views/About Us/aboutUs.html">About Us</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>




  <div class="cuerpo">
    <div>
        <h1 >MATHEMATICS-COURSE</h1>
      </div>


   
      <div class="container">
        <div class="weekly">
            <h3>lect n</h3>
            <hr>
            <p>Our math course is a comprehensive and immersive learning experience that covers a diverse range of mathematical concepts, making it suitable for learners of all levels. Whether you're seeking to build a solid foundation in mathematics, preparing for higher education, or simply looking to enhance your problem-solving skills, this course is tailored to meet your needs. From fundamental topics like algebra and geometry to advanced calculus, statistics, and beyond, we provide a structured curriculum that ensures a deep understanding of mathematical principles.</p>
            <br>
            <p>The course is not just about theory; it's about real-world applications. We believe that mathematics is a powerful tool for solving practical problems, so we incorporate numerous real-life examples and scenarios. By delving into these applications, you'll not only grasp the abstract concepts but also gain the confidence to apply your knowledge in various academic and professional domains. Our teaching methods combine traditional instruction with interactive exercises, ensuring a dynamic and engaging learning experience. </p>
            <br>
            <p>We understand that each learner is unique, and our course accommodates diverse learning styles and paces. We offer personalized support to address individual needs, creating a supportive and collaborative learning environment. Additionally, we continuously update the course content to stay current with the latest advancements in math education. Join us on this mathematical journey, and unlock the incredible world of problem-solving and critical thinking that mathematics offers.</p>
       
          <div class="infoDump">
            <div class="info">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet a dolore numquam praesentium tenetur nisi laborum cumque, modi eaque ex dolorum laboriosam! Perspiciatis mollitia repellat distinctio, quo sapiente deserunt culpa!</div>
            <br><p>disclaimer: this is a prototype version of what it'll come next so be considerate</p>
            <div class="info">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nobis quia nihil porro necessitatibus? Praesentium laborum, similique omnis corrupti in dignissimos pariatur et quos dolores tenetur ipsam, ratione, soluta harum! Iste.</div>
          </div>
      </div>


      <div class="video-container">
       
        <iframe width="600" height="360"
        src="https://www.youtube.com/embed/tgbNymZ7vqY">
        </iframe>
        <div class="quizz-container">
            <h3>make a quiz </h3>
        <button><a href="../math/quizz.html">quizz</a></button>
        </div>


       
      </div>
     
</div>

</body>
