.MiNavbar{
  background-color: #3C486B;
}
.cuerpo{
  background-color: #F0F0F0;
  margin-top: 3rem;
  /* padding-top: 2rem; */


}

.contact{
  padding-bottom: 50px;
  /* background-color: #3C486B; */
}
.imgAboutUs{
  width:100%;
  margin-top:50px;
}

#footer {
  padding: 4em 0 2em 0;
  background-color: #3C486B;
  text-align: center;
  color:#F0F0F0;
}

  #footer .inner {
    width: 50%;
    margin: 0 auto;
  }



    @media screen and (max-width: 980px) {



      #footer .inner {
        width: 75%;
      }


    }


    @media screen and (max-width: 480px) {


      #footer .inner {
        width: 90%;
      }


    }


  @media screen and (max-width: 736px) {


    #footer {
      padding: 3em 0 1em 0;
    }


  }


