<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/quizz.css">
</head>
<body>
    <div class="quiz">
        <h1>Quiz Title</h1>
        <div class="question">
            <p>Question 1: </p>
            <label>
                <input type="radio" name="q1" value="paris"> Paris
            </label>
            <label>
                <input type="radio" name="q1" value="berlin"> Berlin
            </label>
        </div>
        <div class="question">
            <p>Question 2: </p>
            <label>
                <input type="radio" name="q2" value="3"> 3
            </label>
            <label>
                <input type="radio" name="q2" value="4"> 4
            </label>
        </div>
        <div class="question">
            <p>Question 3: </p>
            <label>
                <input type="radio" name="q3" value="3"> 3
            </label>
            <label>
                <input type="radio" name="q3" value="4"> 4
            </lab>

            <div class="question">
                <p>Question 4: </p>
                <label>
                    <input type="radio" name="q4" value="3"> 3
                </label>
                <label>
                    <input type="radio" name="q4" value="4"> 4
                </lab>
                
                <div class="question">
                    <p>Question 5: </p>
                    <label>
                        <input type="radio" name="q5" value="paris"> Paris
                    </label>
                    <label>
                        <input type="radio" name="q5" value="berlin"> Berlin
                    </label>
                </div>
                <div class="question">
                    <p>Question 6: </p>
                    <p>whats your name</p>
                    <label>
                        <input type="text" name="q6" > 
                    </label>
                    
                </div>
        <div class="progress">
            <div class="progress-bar" style="width: 25%;"></div>
        </div>
        <button>Next</button>
    </div>

    <a href="artsContent.html">back</a>
</body>
</html>
